<a href="https://colab.research.google.com/github/DanielMerkdo/ensayo/blob/main/proyecto1_aa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install unidecode(elimina caracteres especiales)

Collecting unidecode
  Downloading Unidecode-1.3.8-py3-none-any.whl.metadata (13 kB)
Downloading Unidecode-1.3.8-py3-none-any.whl (235 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.5/235.5 kB 4.5 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.3.8

In [ ]:
# Instalar git en Colab si no está instalado
!apt-get install git

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
git is already the newest version (1:2.34.1-1ubuntu1.12).
0 upgraded, 0 newly installed, 0 to remove and 30 not upgraded.

In [ ]:
# Clonar el repositorio de GitHub
!git clone https://github.com/DanielMerkdo/ensayo.git

fatal: destination path 'ensayo' already exists and is not an empty directory.

In [ ]:
import sqlite3 as sql
import pandas as pd
import numpy as np

In [ ]:
con=sql.connect("/content/ensayo/db_movies")

In [ ]:
cur= con.cursor()

In [ ]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
cur.fetchall()

[('ratings',), ('movies',)]

In [ ]:
cur.execute("SELECT * FROM movies")
cur.fetchall()

In [ ]:
df_movies= pd.read_sql("SELECT * FROM movies", con)

In [ ]:
df_movies.shape

(9742, 3)

In [ ]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [ ]:
df_movies.columns

Index(['movieId', 'title', 'genres'], dtype='object')