<a href="https://colab.research.google.com/github/DanielMerkdo/ensayo/blob/main/proyecto1_aa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cargar las librerias

In [2]:
!pip install unidecode #(elimina caracteres especiales)

Collecting unidecode
  Downloading Unidecode-1.3.8-py3-none-any.whl.metadata (13 kB)
Downloading Unidecode-1.3.8-py3-none-any.whl (235 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.5/235.5 kB 13.0 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.3.8

In [3]:
# Eliminar Warnings
import warnings
warnings.filterwarnings("ignore")
#Data
import sqlite3 as sql
import pandas as pd
import numpy as np

# Instalacion del entorno GitHub

In [4]:
# Instalar git en Colab si no está instalado
!apt-get install git

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
git is already the newest version (1:2.34.1-1ubuntu1.12).
0 upgraded, 0 newly installed, 0 to remove and 34 not upgraded.

In [5]:
# Clonar el repositorio de GitHub
!git clone https://github.com/DanielMerkdo/ensayo.git

Cloning into 'ensayo'...
remote: Enumerating objects: 13, done.
remote: Counting objects: 100% (13/13), done.
remote: Compressing objects: 100% (11/11), done.
remote: Total 13 (delta 4), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (13/13), 2.00 MiB | 23.30 MiB/s, done.
Resolving deltas: 100% (4/4), done.

In [6]:
#Conectar base de datos con el entorno sql
conex=sql.connect("/content/ensayo/db_movies")
cur=conex.cursor() ###para funciones que ejecutan sql en base de datos

In [7]:
cur= conex.cursor()

In [8]:
# consultar el nombre de las tablas en la base de datos
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
cur.fetchall()

[('ratings',), ('movies',)]

In [9]:
# Así se ven en sql
cur.execute("SELECT * FROM movies")
cur.fetchall()

[(1, 'Toy Story (1995)', 'Adventure|Animation|Children|Comedy|Fantasy'),
 (2, 'Jumanji (1995)', 'Adventure|Children|Fantasy'),
 (3, 'Grumpier Old Men (1995)', 'Comedy|Romance'),
 (4, 'Waiting to Exhale (1995)', 'Comedy|Drama|Romance'),
 (5, 'Father of the Bride Part II (1995)', 'Comedy'),
 (6, 'Heat (1995)', 'Action|Crime|Thriller'),
 (7, 'Sabrina (1995)', 'Comedy|Romance'),
 (8, 'Tom and Huck (1995)', 'Adventure|Children'),
 (9, 'Sudden Death (1995)', 'Action'),
 (10, 'GoldenEye (1995)', 'Action|Adventure|Thriller'),
 (11, 'American President, The (1995)', 'Comedy|Drama|Romance'),
 (12, 'Dracula: Dead and Loving It (1995)', 'Comedy|Horror'),
 (13, 'Balto (1995)', 'Adventure|Animation|Children'),
 (14, 'Nixon (1995)', 'Drama'),
 (15, 'Cutthroat Island (1995)', 'Action|Adventure|Romance'),
 (16, 'Casino (1995)', 'Crime|Drama'),
 (17, 'Sense and Sensibility (1995)', 'Drama|Romance'),
 (18, 'Four Rooms (1995)', 'Comedy'),
 (19, 'Ace Ventura: When Nature Calls (1995)', 'Comedy'),
 (20, 'Money Train (1995)', 'Action|Comedy|Crime|Drama|Thriller'),
 (21, 'Get Shorty (1995)', 'Comedy|Crime|Thriller'),
 (22, 'Copycat (1995)', 'Crime|Drama|Horror|Mystery|Thriller'),
 (23, 'Assassins (1995)', 'Action|Crime|Thriller'),
 (24, 'Powder (1995)', 'Drama|Sci-Fi'),
 (25, 'Leaving Las Vegas (1995)', 'Drama|Romance'),
 (26, 'Othello (1995)', 'Drama'),
 (27, 'Now and Then (1995)', 'Children|Drama'),
 (28, 'Persuasion (1995)', 'Drama|Romance'),
 (29,
  'City of Lost Children, The (Cité des enfants perdus, La) (1995)',
  'Adventure|Drama|Fantasy|Mystery|Sci-Fi'),
 (30, 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)', 'Crime|Drama'),
 (31, 'Dangerous Minds (1995)', 'Drama'),
 (32, 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)', 'Mystery|Sci-Fi|Thriller'),
 (34, 'Babe (1995)', 'Children|Drama'),
 (36, 'Dead Man Walking (1995)', 'Crime|Drama'),
 (38, 'It Takes Two (1995)', 'Children|Comedy'),
 (39, 'Clueless (1995)', 'Comedy|Romance'),
 (40, 'Cry, the Beloved Country (1995)', 'Drama'),
 (41, 'Richard III (1995)', 'Drama|War'),
 (42, 'Dead Presidents (1995)', 'Action|Crime|Drama'),
 (43, 'Restoration (1995)', 'Drama'),
 (44, 'Mortal Kombat (1995)', 'Action|Adventure|Fantasy'),
 (45, 'To Die For (1995)', 'Comedy|Drama|Thriller'),
 (46, 'How to Make an American Quilt (1995)', 'Drama|Romance'),
 (47, 'Seven (a.k.a. Se7en) (1995)', 'Mystery|Thriller'),
 (48, 'Pocahontas (1995)', 'Animation|Children|Drama|Musical|Romance'),
 (49, 'When Night Is Falling (1995)', 'Drama|Romance'),
 (50, 'Usual Suspects, The (1995)', 'Crime|Mystery|Thriller'),
 (52, 'Mighty Aphrodite (1995)', 'Comedy|Drama|Romance'),
 (53, 'Lamerica (1994)', 'Adventure|Drama'),
 (54, 'Big Green, The (1995)', 'Children|Comedy'),
 (55, 'Georgia (1995)', 'Drama'),
 (57, 'Home for the Holidays (1995)', 'Drama'),
 (58, 'Postman, The (Postino, Il) (1994)', 'Comedy|Drama|Romance'),
 (60, 'Indian in the Cupboard, The (1995)', 'Adventure|Children|Fantasy'),
 (61, 'Eye for an Eye (1996)', 'Drama|Thriller'),
 (62, "Mr. Holland's Opus (1995)", 'Drama'),
 (63,
  "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)",
  'Comedy|Crime'),
 (64, 'Two if by Sea (1996)', 'Comedy|Romance'),
 (65, 'Bio-Dome (1996)', 'Comedy'),
 (66, 'Lawnmower Man 2: Beyond Cyberspace (1996)', 'Action|Sci-Fi|Thriller'),
 (68, 'French Twist (Gazon maudit) (1995)', 'Comedy|Romance'),
 (69, 'Friday (1995)', 'Comedy'),
 (70, 'From Dusk Till Dawn (1996)', 'Action|Comedy|Horror|Thriller'),
 (71, 'Fair Game (1995)', 'Action'),
 (72, 'Kicking and Screaming (1995)', 'Comedy|Drama'),
 (73, 'Misérables, Les (1995)', 'Drama|War'),
 (74, 'Bed of Roses (1996)', 'Drama|Romance'),
 (75, 'Big Bully (1996)', 'Comedy|Drama'),
 (76, 'Screamers (1995)', 'Action|Sci-Fi|Thriller'),
 (77, 'Nico Icon (1995)', 'Documentary'),
 (78, 'Crossing Guard, The (1995)', 'Action|Crime|Drama|Thriller'),
 (79, 'Juror, The (1996)', 'Drama|Thriller'),
 (80, 'White Balloon, The (Badkonake sefid) (1995)', 'Children|Drama'),
 (81, "Things to Do in Denver When You're Dead (1995)", 'Crime|Drama|Romance'),
 (82, "Antonia's Line (Antonia) (1995)", 'Comedy|Drama'),
 (83, 'Once Upon a Time... When We Were Colored (1995)', 'Drama|Romance'),
 (85, 'Angels and Insects (1995)', 'Drama|Romance'),
 (86, 'White Squall (1996)', 'Action|Adventure|Drama'),
 (87, 'Dunston Checks In (1996)', 'Children|Comedy'),
 (88, 'Black Sheep (1996)', 'Comedy'),
 (89, 'Nick of Time (1995)', 'Action|Thriller'),
 (92, 'Mary Reilly (1996)', 'Drama|Horror|Thriller'),
 (93, 'Vampire in Brooklyn (1995)', 'Comedy|Horror|Romance'),
 (94, 'Beautiful Girls (1996)', 'Comedy|Drama|Romance'),
 (95, 'Broken Arrow (1996)', 'Action|Adventure|Thriller'),
 (96, 'In the Bleak Midwinter (1995)', 'Comedy|Drama'),
 (97, 'Hate (Haine, La) (1995)', 'Crime|Drama'),
 (99, 'Heidi Fleiss: Hollywood Madam (1995)', 'Documentary'),
 (100, 'City Hall (1996)', 'Drama|Thriller'),
 (101, 'Bottle Rocket (1996)', 'Adventure|Comedy|Crime|Romance'),
 (102, 'Mr. Wrong (1996)', 'Comedy'),
 (103, 'Unforgettable (1996)', 'Mystery|Sci-Fi|Thriller'),
 (104, 'Happy Gilmore (1996)', 'Comedy'),
 (105, 'Bridges of Madison County, The (1995)', 'Drama|Romance'),
 (106, 'Nobody Loves Me (Keiner liebt mich) (1994)', 'Comedy|Drama'),
 (107, 'Muppet Treasure Island (1996)', 'Adventure|Children|Comedy|Musical'),
 (108, 'Catwalk (1996)', 'Documentary'),
 (110, 'Braveheart (1995)', 'Action|Drama|War'),
 (111, 'Taxi Driver (1976)', 'Crime|Drama|Thriller'),
 (112,
  'Rumble in the Bronx (Hont faan kui) (1995)',
  'Action|Adventure|Comedy|Crime'),
 (113, 'Before and After (1996)', 'Drama|Mystery'),
 (116, 'Anne Frank Remembered (1995)', 'Documentary'),
 (117, "Young Poisoner's Handbook, The (1995)", 'Crime|Drama'),
 (118, 'If Lucy Fell (1996)', 'Comedy|Romance'),
 (119, 'Steal Big, Steal Little (1995)', 'Comedy'),
 (121, 'Boys of St. Vincent, The (1992)', 'Drama'),
 (122, 'Boomerang (1992)', 'Comedy|Romance'),
 (123,
  'Chungking Express (Chung Hing sam lam) (1994)',
  'Drama|Mystery|Romance'),
 (125, 'Flirting With Disaster (1996)', 'Comedy'),
 (126, 'NeverEnding Story III, The (1994)', 'Adventure|Children|Fantasy'),
 (128, "Jupiter's Wife (1994)", 'Documentary'),
 (129, 'Pie in the Sky (1996)', 'Comedy|Romance'),
 (132, 'Jade (1995)', 'Thriller'),
 (135, 'Down Periscope (1996)', 'Comedy'),
 (137, 'Man of the Year (1995)', 'Documentary'),
 (140, 'Up Close and Personal (1996)', 'Drama|Romance'),
 (141, 'Birdcage, The (1996)', 'Comedy'),
 (144, 'Brothers McMullen, The (1995)', 'Comedy'),
 (145, 'Bad Boys (1995)', 'Action|Comedy|Crime|Drama|Thriller'),
 (146, 'Amazing Panda Adventure, The (1995)', 'Adventure|Children'),
 (147, 'Basketball Diaries, The (1995)', 'Drama'),
 (148, 'Awfully Big Adventure, An (1995)', 'Drama'),
 (149, 'Amateur (1994)', 'Crime|Drama|Thriller'),
 (150, 'Apollo 13 (1995)', 'Adventure|Drama|IMAX'),
 (151, 'Rob Roy (1995)', 'Action|Drama|Romance|War'),
 (152, 'Addiction, The (1995)', 'Drama|Horror'),
 (153, 'Batman Forever (1995)', 'Action|Adventure|Comedy|Crime'),
 (154, 'Beauty of the Day (Belle de jour) (1967)', 'Drama'),
 (155, 'Beyond Rangoon (1995)', 'Adventure|Drama|War'),
 (156, 'Blue in the Face (1995)', 'Comedy|Drama'),
 (157, 'Canadian Bacon (1995)', 'Comedy|War'),
 (158, 'Casper (1995)', 'Adventure|Children'),
 (159, 'Clockers (1995)', 'Crime|Drama|Mystery'),
 (160, 'Congo (1995)', 'Action|Adventure|Mystery|Sci-Fi'),
 (161, 'Crimson Tide (1995)', 'Drama|Thriller|War'),
 (162, 'Crumb (1994)', 'Documentary'),
 (163, 'Desperado (1995)', 'Action|Romance|Western'),
 (164, 'Devil in a Blue Dress (1995)', 'Crime|Film-Noir|Mystery|Thriller'),
 (165, 'Die Hard: With a Vengeance (1995)', 'Action|Crime|Thriller'),
 (166, 'Doom Generation, The (1995)', 'Comedy|Crime|Drama'),
 (168, 'First Knight (1995)', 'Action|Drama|Romance'),
 (169, 'Free Willy 2: The Adventure Home (1995)', 'Adventure|Children|Drama'),
 (170, 'Hackers (1995)', 'Action|Adventure|Crime|Thriller'),
 (171, 'Jeffrey (1995)', 'Comedy|Drama'),
 (172, 'Johnny Mnemonic (1995)', 'Action|Sci-Fi|Thriller'),
 (173, 'Judge Dredd (1995)', 'Action|Crime|Sci-Fi'),
 (174, 'Jury Duty (1995)', 'Comedy'),
 (175, 'Kids (1995)', 'Drama'),
 (176, 'Living in Oblivion (1995)', 'Comedy'),
 (177, 'Lord of Illusions (1995)', 'Horror'),
 (178, 'Love & Human Remains (1993)', 'Comedy|Drama'),
 (179, 'Mad Love (1995)', 'Drama|Romance'),
 (180, 'Mallrats (1995)', 'Comedy|Romance'),
 (181, 'Mighty Morphin Power Rangers: The Movie (1995)', 'Action|Children'),
 (183, 'Mute Witness (1994)', 'Comedy|Horror|Thriller'),
 (184, 'Nadja (1994)', 'Drama'),
 (185, 'Net, The (1995)', 'Action|Crime|Thriller'),
 (186, 'Nine Months (1995)', 'Comedy|Romance'),
 (187, 'Party Girl (1995)', 'Comedy'),
 (188, 'Prophecy, The (1995)', 'Fantasy|Horror|Mystery'),
 (189, 'Reckless (1995)', 'Comedy|Fantasy'),
 (190, 'Safe (1995)', 'Thriller'),
 (191, 'Scarlet Letter, The (1995)', 'Drama|Romance'),
 (193, 'Showgirls (1995)', 'Drama'),
 (194, 'Smoke (1995)', 'Comedy|Drama'),
 (195, 'Something to Talk About (1995)', 'Comedy|Drama|Romance'),
 (196, 'Species (1995)', 'Horror|Sci-Fi'),
 (198, 'Strange Days (1995)', 'Action|Crime|Drama|Mystery|Sci-Fi|Thriller'),
 (199,
  'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)',
  'Drama|Musical|Romance'),
 (201, 'Three Wishes (1995)', 'Drama|Fantasy'),
 (202, 'Total Eclipse (1995)', 'Drama|Romance'),
 (203, 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)', 'Comedy'),
 (204, 'Under Siege 2: Dark Territory (1995)', 'Action'),
 (205, 'Unstrung Heroes (1995)', 'Comedy|Drama'),
 (206, 'Unzipped (1995)', 'Documentary'),
 (207, 'Walk in the Clouds, A (1995)', 'Drama|Romance'),
 (208, 'Waterworld (1995)', 'Action|Adventure|Sci-Fi'),
 (209, "White Man's Burden (1995)", 'Drama'),
 (210, 'Wild Bill (1995)', 'Western'),
 (211, 'Browning Version, The (1994)', 'Drama'),
 (212, 'Bushwhacked (1995)', 'Adventure|Comedy|Crime|Mystery'),
 (213, 'Burnt by the Sun (Utomlyonnye solntsem) (1994)', 'Drama'),
 (214, 'Before the Rain (Pred dozhdot) (1994)', 'Drama|War'),
 (215, 'Before Sunrise (1995)', 'Drama|Romance'),
 (216, 'Billy Madison (1995)', 'Comedy'),
 (217, 'Babysitter, The (1995)', 'Drama|Thriller'),
 (218, 'Boys on the Side (1995)', 'Comedy|Drama'),
 (219, 'Cure, The (1995)', 'Drama'),
 (220, 'Castle Freak (1995)', 'Horror'),
 (222, 'Circle of Friends (1995)', 'Drama|Romance'),
 (223, 'Clerks (1994)', 'Comedy'),
 (224, 'Don Juan DeMarco (1995)', 'Comedy|Drama|Romance'),
 (225, 'Disclosure (1994)', 'Drama|Thriller'),
 (227, 'Drop Zone (1994)', 'Action|Thriller'),
 (228, 'Destiny Turns on the Radio (1995)', 'Comedy'),
 (229, 'Death and the Maiden (1994)', 'Drama|Thriller'),
 (230, 'Dolores Claiborne (1995)', 'Drama|Thriller'),
 (231, 'Dumb & Dumber (Dumb and Dumber) (1994)', 'Adventure|Comedy'),
 (232, 'Eat Drink Man Woman (Yin shi nan nu) (1994)', 'Comedy|Drama|Romance'),
 (233, 'Exotica (1994)', 'Drama'),
 (234, 'Exit to Eden (1994)', 'Comedy'),
 (235, 'Ed Wood (1994)', 'Comedy|Drama'),
 (236, 'French Kiss (1995)', 'Action|Comedy|Romance'),
 (237, 'Forget Paris (1995)', 'Comedy|Romance'),
 (238,
  'Far From Home: The Adventures of Yellow Dog (1995)',
  'Adventure|Children'),
 (239, 'Goofy Movie, A (1995)', 'Animation|Children|Comedy|Romance'),
 (240, 'Hideaway (1995)', 'Thriller'),
 (241, 'Fluke (1995)', 'Children|Drama'),
 (242, 'Farinelli: il castrato (1994)', 'Drama|Musical'),
 (243, 'Gordy (1995)', 'Children|Comedy|Fantasy'),
 (246, 'Hoop Dreams (1994)', 'Documentary'),
 (247, 'Heavenly Creatures (1994)', 'Crime|Drama'),
 (248, 'Houseguest (1994)', 'Comedy'),
 (249, 'Immortal Beloved (1994)', 'Drama|Romance'),
 (250, 'Heavyweights (Heavy Weights) (1995)', 'Children|Comedy'),
 (251, 'Hunted, The (1995)', 'Action'),
 (252, 'I.Q. (1994)', 'Comedy|Romance'),
 (253,
  'Interview with the Vampire: The Vampire Chronicles (1994)',
  'Drama|Horror'),
 (254, 'Jefferson in Paris (1995)', 'Drama'),
 (255, 'Jerky Boys, The (1995)', 'Comedy'),
 (256, 'Junior (1994)', 'Comedy|Sci-Fi'),
 (257, 'Just Cause (1995)', 'Mystery|Thriller'),
 (258,
  "Kid in King Arthur's Court, A (1995)",
  'Adventure|Children|Comedy|Fantasy|Romance'),
 (259, 'Kiss of Death (1995)', 'Crime|Drama|Thriller'),
 (260, 'Star Wars: Episode IV - A New Hope (1977)', 'Action|Adventure|Sci-Fi'),
 (261, 'Little Women (1994)', 'Drama'),
 (262, 'Little Princess, A (1995)', 'Children|Drama'),
 (263, 'Ladybird Ladybird (1994)', 'Drama'),
 (265,
  'Like Water for Chocolate (Como agua para chocolate) (1992)',
  'Drama|Fantasy|Romance'),
 (266, 'Legends of the Fall (1994)', 'Drama|Romance|War|Western'),
 (267, 'Major Payne (1995)', 'Comedy'),
 (269, 'My Crazy Life (Mi vida loca) (1993)', 'Drama'),
 (270, 'Love Affair (1994)', 'Drama|Romance'),
 (271, 'Losing Isaiah (1995)', 'Drama'),
 (272, 'Madness of King George, The (1994)', 'Comedy|Drama'),
 (273,
  "Mary Shelley's Frankenstein (Frankenstein) (1994)",
  'Drama|Horror|Sci-Fi'),
 (274, 'Man of the House (1995)', 'Comedy'),
 (275, 'Mixed Nuts (1994)', 'Comedy'),
 (276, 'Milk Money (1994)', 'Comedy|Romance'),
 (277, 'Miracle on 34th Street (1994)', 'Drama'),
 (278, 'Miami Rhapsody (1995)', 'Comedy'),
 (279, 'My Family (1995)', 'Drama'),
 (280, 'Murder in the First (1995)', 'Drama|Thriller'),
 (281, "Nobody's Fool (1994)", 'Comedy|Drama|Romance'),
 (282, 'Nell (1994)', 'Drama'),
 (283, 'New Jersey Drive (1995)', 'Crime|Drama'),
 (284, 'New York Cop (Nyû Yôku no koppu) (1993)', 'Action|Crime'),
 (285, 'Beyond Bedlam (1993)', 'Drama|Horror'),
 (287, 'Nina Takes a Lover (1994)', 'Comedy|Romance'),
 (288, 'Natural Born Killers (1994)', 'Action|Crime|Thriller'),
 (289, 'Only You (1994)', 'Comedy|Romance'),
 (290, 'Once Were Warriors (1994)', 'Crime|Drama'),
 (291, 'Poison Ivy II (1996)', 'Drama|Thriller'),
 (292, 'Outbreak (1995)', 'Action|Drama|Sci-Fi|Thriller'),
 (293,
  'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
  'Action|Crime|Drama|Thriller'),
 (294, 'Perez Family, The (1995)', 'Comedy|Romance'),
 (295, "Pyromaniac's Love Story, A (1995)", 'Comedy|Romance'),
 (296, 'Pulp Fiction (1994)', 'Comedy|Crime|Drama|Thriller'),
 (298, 'Pushing Hands (Tui shou) (1992)', 'Drama'),
 (299, 'Priest (1994)', 'Drama'),
 (300, 'Quiz Show (1994)', 'Drama'),
 (301, 'Picture Bride (Bijo photo) (1994)', 'Drama|Romance'),
 (302, 'Queen Margot (Reine Margot, La) (1994)', 'Drama|Romance'),
 (303, 'Quick and the Dead, The (1995)', 'Action|Thriller|Western'),
 (304, 'Roommates (1995)', 'Comedy|Drama'),
 (305, 'Ready to Wear (Pret-A-Porter) (1994)', 'Comedy'),
 (306, 'Three Colors: Red (Trois couleurs: Rouge) (1994)', 'Drama'),
 (307, 'Three Colors: Blue (Trois couleurs: Bleu) (1993)', 'Drama'),
 (308, 'Three Colors: White (Trzy kolory: Bialy) (1994)', 'Comedy|Drama'),
 (310, 'Rent-a-Kid (1995)', 'Comedy'),
 (311, 'Relative Fear (1994)', 'Horror|Thriller'),
 (312, 'Stuart Saves His Family (1995)', 'Comedy'),
 (313, 'Swan Princess, The (1994)', 'Animation|Children'),
 (314, 'Secret of Roan Inish, The (1994)', 'Children|Drama|Fantasy|Mystery'),
 (315, 'Specialist, The (1994)', 'Action|Drama|Thriller'),
 (316, 'Stargate (1994)', 'Action|Adventure|Sci-Fi'),
 (317, 'Santa Clause, The (1994)', 'Comedy|Drama|Fantasy'),
 (318, 'Shawshank Redemption, The (1994)', 'Crime|Drama'),
 (319, 'Shallow Grave (1994)', 'Comedy|Drama|Thriller'),
 (320, 'Suture (1993)', 'Film-Noir|Thriller'),
 (321, 'Strawberry and Chocolate (Fresa y chocolate) (1993)', 'Drama'),
 (322, 'Swimming with Sharks (1995)', 'Comedy|Drama'),
 (324, 'Sum of Us, The (1994)', 'Comedy|Drama'),
 (325, "National Lampoon's Senior Trip (1995)", 'Comedy'),
 (326, 'To Live (Huozhe) (1994)', 'Drama'),
 (327, 'Tank Girl (1995)', 'Action|Comedy|Sci-Fi'),
 (328,
  'Tales from the Crypt Presents: Demon Knight (1995)',
  'Horror|Thriller'),
 (329, 'Star Trek: Generations (1994)', 'Adventure|Drama|Sci-Fi'),
 (330, 'Tales from the Hood (1995)', 'Action|Crime|Horror'),
 (331, 'Tom & Viv (1994)', 'Drama'),
 (332, 'Village of the Damned (1995)', 'Horror|Sci-Fi'),
 (333, 'Tommy Boy (1995)', 'Comedy'),
 (334, 'Vanya on 42nd Street (1994)', 'Drama'),
 (335, 'Underneath (1995)', 'Mystery|Thriller'),
 (336, 'Walking Dead, The (1995)', 'Drama|War'),
 (337, "What's Eating Gilbert Grape (1993)", 'Drama'),
 (338, 'Virtuosity (1995)', 'Action|Sci-Fi|Thriller'),
 (339, 'While You Were Sleeping (1995)', 'Comedy|Romance'),
 (340, 'War, The (1994)', 'Adventure|Drama|War'),
 (341, 'Double Happiness (1994)', 'Drama'),
 (342, "Muriel's Wedding (1994)", 'Comedy'),
 (343, 'Baby-Sitters Club, The (1995)', 'Children'),
 (344, 'Ace Ventura: Pet Detective (1994)', 'Comedy'),
 (345,
  'Adventures of Priscilla, Queen of the Desert, The (1994)',
  'Comedy|Drama'),
 (346, 'Backbeat (1993)', 'Drama|Musical'),
 (347, 'Bitter Moon (1992)', 'Drama|Film-Noir|Romance'),
 (348, 'Bullets Over Broadway (1994)', 'Comedy'),
 (349, 'Clear and Present Danger (1994)', 'Action|Crime|Drama|Thriller'),
 (350, 'Client, The (1994)', 'Drama|Mystery|Thriller'),
 (351, 'Corrina, Corrina (1994)', 'Comedy|Drama|Romance'),
 (352, 'Crooklyn (1994)', 'Comedy|Drama'),
 (353, 'Crow, The (1994)', 'Action|Crime|Fantasy|Thriller'),
 (354, 'Cobb (1994)', 'Drama'),
 (355, 'Flintstones, The (1994)', 'Children|Comedy|Fantasy'),
 (356, 'Forrest Gump (1994)', 'Comedy|Drama|Romance|War'),
 (357, 'Four Weddings and a Funeral (1994)', 'Comedy|Romance'),
 (358, 'Higher Learning (1995)', 'Drama'),
 (359, 'I Like It Like That (1994)', 'Comedy|Drama|Romance'),
 (360, 'I Love Trouble (1994)', 'Action|Comedy'),
 (361, 'It Could Happen to You (1994)', 'Comedy|Drama|Romance'),
 (362, 'Jungle Book, The (1994)', 'Adventure|Children|Romance'),
 (363,
  'Wonderful, Horrible Life of Leni Riefenstahl, The (Macht der Bilder: Leni Riefenstahl, Die) (1993)',
  'Documentary'),
 (364,
  'Lion King, The (1994)',
  'Adventure|Animation|Children|Drama|Musical|IMAX'),
 (365, 'Little Buddha (1993)', 'Drama'),
 (366,
  "Wes Craven's New Nightmare (Nightmare on Elm Street Part 7: Freddy's Finale, A) (1994)",
  'Drama|Horror|Mystery|Thriller'),
 (367, 'Mask, The (1994)', 'Action|Comedy|Crime|Fantasy'),
 (368, 'Maverick (1994)', 'Adventure|Comedy|Western'),
 (369, 'Mrs. Parker and the Vicious Circle (1994)', 'Drama'),
 (370, 'Naked Gun 33 1/3: The Final Insult (1994)', 'Action|Comedy'),
 (371, 'Paper, The (1994)', 'Comedy|Drama'),
 (372, 'Reality Bites (1994)', 'Comedy|Drama|Romance'),
 (373, 'Red Rock West (1992)', 'Thriller'),
 (374, 'Richie Rich (1994)', 'Children|Comedy'),
 (376, 'River Wild, The (1994)', 'Action|Thriller'),
 (377, 'Speed (1994)', 'Action|Romance|Thriller'),
 (378, 'Speechless (1994)', 'Comedy|Romance'),
 (379, 'Timecop (1994)', 'Action|Sci-Fi|Thriller'),
 (380, 'True Lies (1994)', 'Action|Adventure|Comedy|Romance|Thriller'),
 (381, 'When a Man Loves a Woman (1994)', 'Drama|Romance'),
 (382, 'Wolf (1994)', 'Drama|Horror|Romance|Thriller'),
 (383, 'Wyatt Earp (1994)', 'Western'),
 (384, 'Bad Company (1995)', 'Action|Crime|Drama'),
 (385, 'Man of No Importance, A (1994)', 'Drama'),
 (386, 'S.F.W. (1994)', 'Drama'),
 (387, 'Low Down Dirty Shame, A (1994)', 'Action|Comedy'),
 (388, 'Boys Life (1995)', 'Drama'),
 (389, 'Colonel Chabert, Le (1994)', 'Drama|Romance|War'),
 (390, 'Faster Pussycat! Kill! Kill! (1965)', 'Action|Crime|Drama'),
 (391, "Jason's Lyric (1994)", 'Crime|Drama'),
 (393, 'Street Fighter (1994)', 'Action|Adventure|Fantasy'),
 (405,
  'Highlander III: The Sorcerer (a.k.a. Highlander: The Final Dimension) (1994)',
  'Action|Fantasy'),
 (406, 'Federal Hill (1994)', 'Drama'),
 (407, 'In the Mouth of Madness (1995)', 'Horror|Thriller'),
 (408, '8 Seconds (1994)', 'Drama'),
 (409, 'Above the Rim (1994)', 'Crime|Drama'),
 (410, 'Addams Family Values (1993)', 'Children|Comedy|Fantasy'),
 (412, 'Age of Innocence, The (1993)', 'Drama'),
 (413, 'Airheads (1994)', 'Comedy'),
 (414, 'Air Up There, The (1994)', 'Comedy'),
 (415, 'Another Stakeout (1993)', 'Comedy|Thriller'),
 (416, 'Bad Girls (1994)', 'Western'),
 (417, 'Barcelona (1994)', 'Comedy|Romance'),

In [10]:
# Así se ven en sql
cur.execute("SELECT * FROM ratings")
cur.fetchall()

[(1, 1, 4.0, 964982703),
 (1, 3, 4.0, 964981247),
 (1, 6, 4.0, 964982224),
 (1, 47, 5.0, 964983815),
 (1, 50, 5.0, 964982931),
 (1, 70, 3.0, 964982400),
 (1, 101, 5.0, 964980868),
 (1, 110, 4.0, 964982176),
 (1, 151, 5.0, 964984041),
 (1, 157, 5.0, 964984100),
 (1, 163, 5.0, 964983650),
 (1, 216, 5.0, 964981208),
 (1, 223, 3.0, 964980985),
 (1, 231, 5.0, 964981179),
 (1, 235, 4.0, 964980908),
 (1, 260, 5.0, 964981680),
 (1, 296, 3.0, 964982967),
 (1, 316, 3.0, 964982310),
 (1, 333, 5.0, 964981179),
 (1, 349, 4.0, 964982563),
 (1, 356, 4.0, 964980962),
 (1, 362, 5.0, 964982588),
 (1, 367, 4.0, 964981710),
 (1, 423, 3.0, 964982363),
 (1, 441, 4.0, 964980868),
 (1, 457, 5.0, 964981909),
 (1, 480, 4.0, 964982346),
 (1, 500, 3.0, 964981208),
 (1, 527, 5.0, 964984002),
 (1, 543, 4.0, 964981179),
 (1, 552, 4.0, 964982653),
 (1, 553, 5.0, 964984153),
 (1, 590, 4.0, 964982546),
 (1, 592, 4.0, 964982271),
 (1, 593, 4.0, 964983793),
 (1, 596, 5.0, 964982838),
 (1, 608, 5.0, 964982931),
 (1, 648, 3.0, 964982563),
 (1, 661, 5.0, 964982838),
 (1, 673, 3.0, 964981775),
 (1, 733, 4.0, 964982400),
 (1, 736, 3.0, 964982653),
 (1, 780, 3.0, 964984086),
 (1, 804, 4.0, 964980499),
 (1, 919, 5.0, 964982475),
 (1, 923, 5.0, 964981529),
 (1, 940, 5.0, 964982176),
 (1, 943, 4.0, 964983614),
 (1, 954, 5.0, 964983219),
 (1, 1009, 3.0, 964981775),
 (1, 1023, 5.0, 964982681),
 (1, 1024, 5.0, 964982876),
 (1, 1025, 5.0, 964982791),
 (1, 1029, 5.0, 964982855),
 (1, 1030, 3.0, 964982903),
 (1, 1031, 5.0, 964982653),
 (1, 1032, 5.0, 964982791),
 (1, 1042, 4.0, 964981179),
 (1, 1049, 5.0, 964982400),
 (1, 1060, 4.0, 964980924),
 (1, 1073, 5.0, 964981680),
 (1, 1080, 5.0, 964981327),
 (1, 1089, 5.0, 964982951),
 (1, 1090, 4.0, 964984018),
 (1, 1092, 5.0, 964983484),
 (1, 1097, 5.0, 964981680),
 (1, 1127, 4.0, 964982513),
 (1, 1136, 5.0, 964981327),
 (1, 1196, 5.0, 964981827),
 (1, 1197, 5.0, 964981872),
 (1, 1198, 5.0, 964981827),
 (1, 1206, 5.0, 964983737),
 (1, 1208, 4.0, 964983250),
 (1, 1210, 5.0, 964980499),
 (1, 1213, 5.0, 964982951),
 (1, 1214, 4.0, 964981855),
 (1, 1219, 2.0, 964983393),
 (1, 1220, 5.0, 964981909),
 (1, 1222, 5.0, 964981909),
 (1, 1224, 5.0, 964984018),
 (1, 1226, 5.0, 964983618),
 (1, 1240, 5.0, 964983723),
 (1, 1256, 5.0, 964981442),
 (1, 1258, 3.0, 964983414),
 (1, 1265, 4.0, 964983599),
 (1, 1270, 5.0, 964983705),
 (1, 1275, 5.0, 964982290),
 (1, 1278, 5.0, 964983414),
 (1, 1282, 5.0, 964982703),
 (1, 1291, 5.0, 964981909),
 (1, 1298, 5.0, 964984086),
 (1, 1348, 4.0, 964983393),
 (1, 1377, 3.0, 964982653),
 (1, 1396, 3.0, 964983017),
 (1, 1408, 3.0, 964982310),
 (1, 1445, 3.0, 964984112),
 (1, 1473, 4.0, 964980875),
 (1, 1500, 4.0, 964980985),
 (1, 1517, 5.0, 964981107),
 (1, 1552, 4.0, 964982620),
 (1, 1573, 5.0, 964982290),
 (1, 1580, 3.0, 964981125),
 (1, 1587, 5.0, 964982346),
 (1, 1617, 5.0, 964982951),
 (1, 1620, 4.0, 964983056),
 (1, 1625, 5.0, 964983504),
 (1, 1644, 3.0, 964983536),
 (1, 1676, 3.0, 964982620),
 (1, 1732, 5.0, 964981125),
 (1, 1777, 4.0, 964981230),
 (1, 1793, 4.0, 964981404),
 (1, 1804, 5.0, 964983034),
 (1, 1805, 4.0, 964983056),
 (1, 1920, 4.0, 964981780),
 (1, 1927, 5.0, 964981497),
 (1, 1954, 5.0, 964982176),
 (1, 1967, 4.0, 964981710),
 (1, 2000, 4.0, 964982211),
 (1, 2005, 5.0, 964981710),
 (1, 2012, 4.0, 964984176),
 (1, 2018, 5.0, 964980523),
 (1, 2028, 4.0, 964981888),
 (1, 2033, 5.0, 964982903),
 (1, 2046, 4.0, 964982563),
 (1, 2048, 5.0, 964982791),
 (1, 2054, 4.0, 964981747),
 (1, 2058, 5.0, 964982400),
 (1, 2078, 5.0, 964982838),
 (1, 2090, 5.0, 964982838),
 (1, 2093, 3.0, 964981710),
 (1, 2094, 5.0, 964982653),
 (1, 2096, 4.0, 964982838),
 (1, 2099, 4.0, 964982588),
 (1, 2105, 4.0, 964981725),
 (1, 2115, 5.0, 964982529),
 (1, 2116, 5.0, 964982876),
 (1, 2137, 5.0, 964982791),
 (1, 2139, 5.0, 964982791),
 (1, 2141, 5.0, 964982838),
 (1, 2143, 4.0, 964981725),
 (1, 2161, 5.0, 964981710),
 (1, 2174, 4.0, 964981680),
 (1, 2193, 4.0, 964981710),
 (1, 2253, 2.0, 964981775),
 (1, 2268, 4.0, 964982989),
 (1, 2273, 4.0, 964982310),
 (1, 2291, 5.0, 964983664),
 (1, 2329, 5.0, 964983263),
 (1, 2338, 2.0, 964983546),
 (1, 2353, 5.0, 964983861),
 (1, 2366, 4.0, 964982462),
 (1, 2387, 5.0, 964983123),
 (1, 2389, 2.0, 964983094),
 (1, 2395, 5.0, 964981093),
 (1, 2406, 4.0, 964982310),
 (1, 2414, 3.0, 964982513),
 (1, 2427, 5.0, 964982242),
 (1, 2450, 4.0, 964982620),
 (1, 2459, 5.0, 964983414),
 (1, 2470, 5.0, 964982588),
 (1, 2478, 4.0, 964984169),
 (1, 2492, 4.0, 965719662),
 (1, 2502, 5.0, 964981278),
 (1, 2528, 3.0, 964982328),
 (1, 2529, 5.0, 964982242),
 (1, 2542, 5.0, 964981265),
 (1, 2571, 5.0, 964981888),
 (1, 2580, 5.0, 964983000),
 (1, 2596, 5.0, 964981144),
 (1, 2616, 4.0, 964983080),
 (1, 2617, 2.0, 964982588),
 (1, 2628, 4.0, 964980523),
 (1, 2640, 4.0, 964982377),
 (1, 2641, 5.0, 964982620),
 (1, 2644, 4.0, 964983393),
 (1, 2648, 4.0, 964983414),
 (1, 2654, 5.0, 964983393),
 (1, 2657, 3.0, 964983426),
 (1, 2692, 5.0, 964981855),
 (1, 2700, 5.0, 964980985),
 (1, 2716, 5.0, 964983414),
 (1, 2761, 5.0, 964982703),
 (1, 2797, 4.0, 964981710),
 (1, 2826, 4.0, 964980523),
 (1, 2858, 5.0, 964980868),
 (1, 2872, 5.0, 964981680),
 (1, 2899, 5.0, 964982703),
 (1, 2916, 4.0, 964982290),
 (1, 2944, 5.0, 964981872),
 (1, 2947, 5.0, 964982176),
 (1, 2948, 5.0, 964982191),
 (1, 2949, 5.0, 964981888),
 (1, 2959, 5.0, 964983282),
 (1, 2985, 4.0, 964983034),
 (1, 2987, 5.0, 964982495),
 (1, 2991, 5.0, 964982271),
 (1, 2993, 5.0, 964982242),
 (1, 2997, 4.0, 964980896),
 (1, 3033, 5.0, 964983762),
 (1, 3034, 5.0, 964982791),
 (1, 3052, 5.0, 964981208),
 (1, 3053, 5.0, 964984086),
 (1, 3062, 4.0, 964981872),
 (1, 3147, 5.0, 964983873),
 (1, 3168, 4.0, 964982495),
 (1, 3176, 1.0, 964983504),
 (1, 3243, 3.0, 964981093),
 (1, 3247, 3.0, 964983108),
 (1, 3253, 5.0, 964981107),
 (1, 3273, 5.0, 964983536),
 (1, 3386, 5.0, 964983484),
 (1, 3439, 4.0, 964981799),
 (1, 3440, 4.0, 964981799),
 (1, 3441, 5.0, 964982328),
 (1, 3448, 5.0, 964984054),
 (1, 3450, 5.0, 964981144),
 (1, 3479, 4.0, 964981725),
 (1, 3489, 4.0, 964981775),
 (1, 3527, 4.0, 964982271),
 (1, 3578, 5.0, 964980668),
 (1, 3617, 4.0, 964980683),
 (1, 3639, 4.0, 964982271),
 (1, 3671, 5.0, 964981589),
 (1, 3702, 5.0, 964983737),
 (1, 3703, 5.0, 964981909),
 (1, 3729, 5.0, 964982363),
 (1, 3740, 4.0, 964982417),
 (1, 3744, 4.0, 964980694),
 (1, 3793, 5.0, 964981855),
 (1, 3809, 4.0, 964981220),
 (1, 4006, 4.0, 964982903),
 (1, 5060, 5.0, 964984002),
 (2, 318, 3.0, 1445714835),
 (2, 333, 4.0, 1445715029),
 (2, 1704, 4.5, 1445715228),
 (2, 3578, 4.0, 1445714885),
 (2, 6874, 4.0, 1445714952),
 (2, 8798, 3.5, 1445714960),
 (2, 46970, 4.0, 1445715013),
 (2, 48516, 4.0, 1445715064),
 (2, 58559, 4.5, 1445715141),
 (2, 60756, 5.0, 1445714980),
 (2, 68157, 4.5, 1445715154),
 (2, 71535, 3.0, 1445714974),
 (2, 74458, 4.0, 1445714926),
 (2, 77455, 3.0, 1445714941),
 (2, 79132, 4.0, 1445714841),
 (2, 80489, 4.5, 1445715340),
 (2, 80906, 5.0, 1445715172),
 (2, 86345, 4.0, 1445715166),
 (2, 89774, 5.0, 1445715189),
 (2, 91529, 3.5, 1445714891),
 (2, 91658, 2.5, 1445714938),
 (2, 99114, 3.5, 1445714874),
 (2, 106782, 5.0, 1445714966),
 (2, 109487, 3.0, 1445715145),
 (2, 112552, 4.0, 1445714882),
 (2, 114060, 2.0, 1445715276),
 (2, 115713, 3.5, 1445714854),
 (2, 122882, 5.0, 1445715272),
 (2, 131724, 5.0, 1445714851),
 (3, 31, 0.5, 1306463578),
 (3, 527, 0.5, 1306464275),
 (3, 647, 0.5, 1306463619),
 (3, 688, 0.5, 1306464228),
 (3, 720, 0.5, 1306463595),
 (3, 849, 5.0, 1306463611),
 (3, 914, 0.5, 1306463567),
 (3, 1093, 0.5, 1306463627),
 (3, 1124, 0.5, 1306464216),
 (3, 1263, 0.5, 1306463569),
 (3, 1272, 0.5, 1306463624),
 (3, 1275, 3.5, 1306463323),
 (3, 1302, 0.5, 1306464189),
 (3, 1371, 3.0, 1306463561),
 (3, 1587, 4.5, 1306464003),
 (3, 2018, 0.5, 1306464175),
 (3, 2080, 0.5, 1306463572),
 (3, 2090, 0.5, 1306464261),
 (3, 2105, 2.0, 1306463559),
 (3, 2288, 4.0, 1306463631),
 (3, 2424, 0.5, 1306464293),
 (3, 2851, 5.0, 1306463925),
 (3, 3024, 4.5, 1306464054),
 (3, 3210, 0.5, 1306463638),
 (3, 3703, 5.0, 1306463603),
 (3, 3949, 0.5, 1306464245),
 (3, 4518, 5.0, 1306463770),
 (3, 5048, 0.5, 1306464284),
 (3, 5181, 5.0, 1306463718),
 (3, 5746, 5.0, 1306463708),
 (3, 5764, 4.5, 1306464021),
 (3, 5919, 5.0, 1306463825),
 (3, 6238, 0.5, 1306464204),
 (3, 6835, 5.0, 1306463670),
 (3, 7899, 4.5, 1306464036),
 (3, 7991, 5.0, 1306463684),
 (3, 26409, 4.5, 1306463993),
 (3, 70946, 5.0, 1306463815),
 (3, 72378, 0.5, 1306464164),
 (4, 21, 3.0, 986935199),
 (4, 32, 2.0, 945173447),
 (4, 45, 3.0, 986935047),
 (4, 47, 2.0, 945173425),
 (4, 52, 3.0, 964622786),
 (4, 58, 3.0, 964538444),
 (4, 106, 4.0, 986848784),
 (4, 125, 5.0, 964622758),
 (4, 126, 1.0, 986848920),
 (4, 162, 5.0, 945078571),
 (4, 171, 3.0, 945078428),
 (4, 176, 5.0, 964622565),
 (4, 190, 2.0, 945079259),
 (4, 215, 5.0, 945079078),
 (4, 222, 1.0, 945629040),
 (4, 232, 5.0, 964622684),
 (4, 235, 2.0, 945173513),
 (4, 247, 3.0, 986848894),
 (4, 260, 5.0, 945079259),
 (4, 265, 5.0, 964538468),
 (4, 296, 1.0, 945173350),
 (4, 319, 5.0, 945079182),
 (4, 342, 5.0, 964538500),
 (4, 345, 4.0, 945629063),
 (4, 348, 4.0, 964622786),
 (4, 351, 3.0, 986934901),
 (4, 357, 3.0, 964623306),
 (4, 368, 4.0, 945078690),
 (4, 417, 2.0, 945078467),
 (4, 441, 1.0, 986934915),
 (4, 450, 2.0, 986848828),
 (4, 457, 5.0, 945079259),
 (4, 475, 5.0, 945174290),
 (4, 492, 5.0, 945079872),
 (4, 509, 1.0, 945079106),
 (4, 538, 5.0, 945078636),
 (4, 539, 1.0, 964538832),
 (4, 553, 2.0, 945079301),
 (4, 588, 4.0, 945079670),
 (4, 593, 5.0, 964539986),
 (4, 595, 3.0, 986848609),
 (4, 599, 2.0, 945078587),
 (4, 608, 5.0, 964540008),
 (4, 648, 3.0, 945079906),
 (4, 708, 4.0, 986935230),
 (4, 759, 3.0, 945078601),
 (4, 800, 4.0, 945079106),
 (4, 892, 4.0, 964622714),
 (4, 898, 5.0, 964623347),
 (4, 899, 4.0, 945079653),
 (4, 902, 4.0, 945078446),
 (4, 904, 4.0, 945079837),
 (4, 908, 5.0, 945173902),
 (4, 910, 5.0, 945173989),
 (4, 912, 5.0, 945173902),
 (4, 914, 5.0, 945079670),
 (4, 919, 5.0, 945079521),
 (4, 920, 5.0, 945173602),
 (4, 930, 5.0, 964538571),
 (4, 937, 3.0, 986849085),
 (4, 1025, 4.0, 945079232),
 (4, 1046, 5.0, 945173654),
 (4, 1057, 3.0, 964540578),
 (4, 1060, 2.0, 986934819),
 (4, 1073, 4.0, 945079483),
 (4, 1077, 5.0, 945173692),
 (4, 1079, 2.0, 945078946),
 (4, 1080, 5.0, 986934696),
 (4, 1084, 5.0, 945079259),
 (4, 1086, 5.0, 964539723),
 (4, 1094, 3.0, 964538500),
 (4, 1103, 5.0, 964539723),
 (4, 1136, 5.0, 986934625),
 (4, 1179, 4.0, 964539180),
 (4, 1183, 1.0, 964778513),
 (4, 1188, 5.0, 964538500),
 (4, 1196, 5.0, 964538763),
 (4, 1197, 5.0, 964538763),
 (4, 1198, 3.0, 964538728),
 (4, 1199, 2.0, 945078967),
 (4, 1203, 5.0, 945174025),
 (4, 1211, 1.0, 964539205),
 (4, 1213, 4.0, 945079729),
 (4, 1219, 4.0, 964539961),
 (4, 1225, 4.0, 964539326),
 (4, 1250, 5.0, 945174008),
 (4, 1259, 4.0, 964538728),
 (4, 1265, 4.0, 964622684),
 (4, 1266, 4.0, 986849037),
 (4, 1279, 2.0, 986934832),
 (4, 1282, 5.0, 945079653),
 (4, 1283, 5.0, 945078690),
 (4, 1288, 4.0, 945079653),
 (4, 1291, 4.0, 964538763),
 (4, 1304, 3.0, 945078467),
 (4, 1391, 1.0, 945173766),
 (4, 1449, 5.0, 945079767),
 (4, 1466, 4.0, 945173492),
 (4, 1500, 4.0, 964622830),
 (4, 1517, 4.0, 945079790),
 (4, 1580, 3.0, 986935244),
 (4, 1597, 1.0, 945079906),
 (4, 1617, 2.0, 945079837),
 (4, 1641, 4.0, 964622758),
 (4, 1704, 1.0, 945629015),
 (4, 1719, 4.0, 945079956),
 (4, 1732, 4.0, 945079889),
 (4, 1733, 5.0, 945079143),
 (4, 1734, 3.0, 964539357),
 (4, 1834, 5.0, 945174134),
 (4, 1860, 2.0, 986849001),
 (4, 1883, 4.0, 964622642),
 (4, 1885, 3.0, 964622617),
 (4, 1892, 2.0, 964539431),
 (4, 1895, 4.0, 945629179),
 (4, 1907, 3.0, 964540505),
 (4, 1914, 4.0, 964622714),
 (4, 1916, 1.0, 986934786),
 (4, 1923, 3.0, 986934870),
 (4, 1947, 5.0, 945079653),
 (4, 1966, 2.0, 964622684),
 (4, 1967, 5.0, 945078967),
 (4, 1968, 4.0, 986934786),
 (4, 2019, 2.0, 945078690),
 (4, 2076, 4.0, 945079052),
 (4, 2078, 5.0, 945079521),
 (4, 2109, 4.0, 986935016),
 (4, 2145, 3.0, 986935328),
 (4, 2150, 5.0, 986934738),
 (4, 2174, 5.0, 964539855),
 (4, 2186, 5.0, 945174008),
 (4, 2203, 4.0, 945079729),
 (4, 2204, 5.0, 964540008),
 (4, 2282, 1.0, 945629238),
 (4, 2324, 1.0, 964622590),
 (4, 2336, 2.0, 964538964),
 (4, 2351, 4.0, 945078467),
 (4, 2359, 4.0, 964622590),
 (4, 2390, 5.0, 945079164),
 (4, 2395, 3.0, 964623306),
 (4, 2406, 4.0, 986935302),
 (4, 2467, 4.0, 945079858),
 (4, 2571, 1.0, 945173385),
 (4, 2583, 5.0, 945078863),
 (4, 2599, 5.0, 964622684),
 (4, 2628, 1.0, 986848894),
 (4, 2683, 4.0, 945079790),
 (4, 2692, 5.0, 945079013),
 (4, 2712, 2.0, 945078542),
 (4, 2762, 4.0, 964539986),
 (4, 2763, 1.0, 964778621),
 (4, 2770, 2.0, 945173553),
 (4, 2791, 5.0, 964539628),
 (4, 2843, 5.0, 945078814),
 (4, 2858, 5.0, 964539140),
 (4, 2874, 4.0, 986935016),
 (4, 2921, 4.0, 945078708),
 (4, 2926, 5.0, 986934870),
 (4, 2959, 2.0, 945078528),
 (4, 2973, 2.0, 945078946),
 (4, 2997, 4.0, 986848610),
 (4, 3033, 4.0, 986936200),
 (4, 3044, 5.0, 945079920),
 (4, 3060, 4.0, 986934884),
 (4, 3079, 3.0, 964778197),
 (4, 3083, 5.0, 964622487),
 (4, 3160, 4.0, 964539121),
 (4, 3175, 1.0, 964538930),
 (4, 3176, 4.0, 964539771),
 (4, 3204, 4.0, 964539828),
 (4, 3255, 4.0, 964623306),
 (4, 3317, 4.0, 986934498),
 (4, 3358, 3.0, 964622758),
 (4, 3365, 5.0, 964538329),
 (4, 3386, 4.0, 964539395),
 (4, 3408, 4.0, 986849238),
 (4, 3481, 2.0, 964538243),
 (4, 3489, 1.0, 986848908),
 (4, 3508, 5.0, 964538351),
 (4, 3538, 2.0, 986849212),
 (4, 3591, 1.0, 986935199),
 (4, 3788, 3.0, 964539085),
 (4, 3809, 3.0, 986936207),
 (4, 3851, 5.0, 986849180),
 (4, 3897, 4.0, 986934465),
 (4, 3911, 3.0, 986849149),
 (4, 3967, 4.0, 986849164),
 (4, 3996, 4.0, 986849130),
 (4, 4002, 3.0, 986934819),
 (4, 4014, 1.0, 986849254),
 (4, 4020, 3.0, 986848856),
 (4, 4021, 4.0, 986849180),
 (4, 4027, 3.0, 986849201),
 (4, 4029, 3.0, 986849226),
 (4, 4033, 4.0, 986849149),
 (4, 4034, 5.0, 986848753),
 (4, 4074, 3.0, 986848665),
 (4, 4121, 4.0, 986934901),
 (4, 4144, 3.0, 986848685),
 (4, 4166, 3.0, 986848700),
 (4, 4226, 2.0, 1007569424),
 (4, 4239, 5.0, 986848685),
 (4, 4246, 4.0, 1007574542),
 (4, 4252, 3.0, 1007569465),
 (4, 4260, 2.0, 1007569424),
 (4, 4273, 4.0, 1007574470),
 (4, 4308, 1.0, 1007569465),
 (4, 4347, 4.0, 1007569586),
 (4, 4381, 3.0, 1007574509),
 (4, 4641, 1.0, 1007569586),
 (4, 4741, 3.0, 1007574532),
 (4, 4765, 5.0, 1007569445),
 (4, 4881, 3.0, 1007569445),
 (4, 4896, 4.0, 1007574532),
 (4, 4902, 4.0, 1007569465),
 (4, 4967, 5.0, 1007569424),
 (5, 1, 4.0, 847434962),
 (5, 21, 4.0, 847435238),
 (5, 34, 4.0, 847434881),
 (5, 36, 4.0, 847435292),
 (5, 39, 3.0, 847434961),
 (5, 50, 4.0, 847434881),
 (5, 58, 5.0, 847435238),
 (5, 110, 4.0, 847434880),
 (5, 150, 3.0, 847434748),
 (5, 153, 3.0, 847434802),
 (5, 232, 4.0, 847435292),
 (5, 247, 5.0, 847435337),
 (5, 253, 3.0, 847435292),
 (5, 261, 4.0, 847435238),
 (5, 265, 3.0, 847435129),
 (5, 266, 1.0, 847435311),
 (5, 290, 5.0, 847435311),
 (5, 296, 5.0, 847434748),
 (5, 300, 3.0, 847435337),
 (5, 316, 2.0, 847434832),
 (5, 318, 3.0, 847434880),
 (5, 344, 3.0, 847434802),
 (5, 349, 3.0, 847434832),
 (5, 357, 2.0, 847435238),
 (5, 364, 3.0, 847434882),
 (5, 367, 4.0, 847435129),
 (5, 380, 2.0, 847434748),
 (5, 410, 3.0, 847435292),
 (5, 457, 4.0, 847434801),
 (5, 474, 4.0, 847435337),
 (5, 475, 5.0, 847435311),
 (5, 515, 3.0, 847435129),
 (5, 527, 5.0, 847434960),
 (5, 531, 4.0, 847435258),
 (5, 534, 3.0, 847435311),
 (5, 588, 4.0, 847434801),
 (5, 589, 3.0, 847435258),
 (5, 590, 5.0, 847434747),
 (5, 592, 3.0, 847434747),
 (5, 594, 5.0, 847435238),
 (5, 595, 5.0, 847434832),
 (5, 596, 5.0, 847435292),
 (5, 597, 3.0, 847434962),
 (5, 608, 3.0, 847435258),
 (6, 2, 4.0, 845553522),
 (6, 3, 5.0, 845554296),
 (6, 4, 3.0, 845554349),
 (6, 5, 5.0, 845553938),
 (6, 6, 4.0, 845553757),
 (6, 7, 4.0, 845554264),
 (6, 8, 3.0, 845555281),
 (6, 10, 3.0, 845553253),
 (6, 11, 4.0, 845553489),
 (6, 13, 3.0, 845555588),
 (6, 15, 4.0, 845554505),
 (6, 16, 4.0, 845553819),
 (6, 17, 4.0, 845553559),
 (6, 19, 2.0, 845553382),
 (6, 21, 2.0, 845553382),
 (6, 22, 5.0, 845553875),
 (6, 24, 4.0, 845554397),
 (6, 25, 3.0, 845553695),
 (6, 26, 4.0, 845555362),
 (6, 27, 3.0, 845555402),
 (6, 31, 3.0, 845553819),
 (6, 32, 4.0, 845553426),
 (6, 34, 4.0, 845553354),
 (6, 36, 5.0, 845553726),
 (6, 41, 4.0, 845554962),
 (6, 43, 4.0, 845555607),
 (6, 45, 3.0, 845553907),
 (6, 46, 4.0, 845554551),
 (6, 47, 4.0, 845553317),
 (6, 50, 1.0, 845553381),
 (6, 54, 4.0, 845555402),
 (6, 60, 4.0, 845554263),
 (6, 61, 4.0, 845555454),
 (6, 62, 4.0, 845553660),
 (6, 65, 3.0, 845555070),
 (6, 66, 3.0, 845555151),
 (6, 76, 4.0, 845555317),
 (6, 79, 3.0, 845554907),
 (6, 86, 5.0, 845556131),
 (6, 87, 3.0, 845555300),
 (6, 88, 2.0, 845555694),
 (6, 89, 4.0, 845555124),
 (6, 92, 4.0, 845555454),
 (6, 93, 4.0, 845554584),
 (6, 95, 4.0, 845553559),
 (6, 100, 3.0, 845555151),
 (6, 102, 1.0, 845555436),
 (6, 104, 4.0, 845554349),
 (6, 105, 3.0, 845553757),
 (6, 110, 5.0, 845553283),
 (6, 112, 4.0, 845553994),
 (6, 113, 3.0, 845556257),
 (6, 126, 3.0, 845555342),
 (6, 135, 3.0, 845554987),
 (6, 140, 3.0, 845555024),
 (6, 141, 4.0, 845553586),
 (6, 145, 4.0, 845553966),
 (6, 146, 4.0, 845555607),
 (6, 150, 4.0, 845553110),
 (6, 151, 4.0, 845553586),
 (6, 153, 3.0, 845553146),
 (6, 158, 4.0, 845553660),
 (6, 159, 3.0, 845555006),
 (6, 160, 5.0, 845553457),
 (6, 161, 3.0, 845553253),
 (6, 163, 3.0, 845553907),
 (6, 165, 3.0, 845553146),
 (6, 168, 5.0, 845553695),
 (6, 170, 3.0, 845554263),
 (6, 171, 3.0, 845555402),
 (6, 174, 3.0, 845554479),
 (6, 177, 3.0, 845554931),
 (6, 179, 1.0, 845555362),
 (6, 180, 2.0, 845555006),
 (6, 181, 3.0, 845553938),
 (6, 185, 3.0, 845553283),
 (6, 186, 3.0, 845553619),
 (6, 189, 3.0, 845556241),
 (6, 191, 2.0, 845554931),
 (6, 195, 4.0, 845554455),
 (6, 196, 3.0, 845553586),
 (6, 201, 3.0, 845556290),
 (6, 204, 3.0, 845553619),
 (6, 205, 3.0, 845555477),
 (6, 207, 4.0, 845554024),
 (6, 208, 3.0, 845553253),
 (6, 209, 3.0, 845556106),
 (6, 210, 4.0, 845556310),
 (6, 212, 4.0, 845556181),
 (6, 216, 4.0, 845554099),
 (6, 217, 3.0, 845555382),
 (6, 218, 2.0, 845553994),
 (6, 219, 3.0, 845556131),
 (6, 222, 4.0, 845554024),
 (6, 224, 3.0, 845553794),
 (6, 225, 4.0, 845553381),
 (6, 230, 5.0, 845553966),
 (6, 231, 3.0, 845553174),
 (6, 234, 2.0, 845554176),
 (6, 236, 4.0, 845553559),
 (6, 237, 4.0, 845553875),
 (6, 239, 3.0, 845554987),
 (6, 240, 3.0, 845555571),
 (6, 243, 3.0, 845555588),
 (6, 248, 5.0, 845554263),
 (6, 250, 4.0, 845555588),
 (6, 251, 3.0, 845556257),
 (6, 252, 4.0, 845553619),
 (6, 253, 3.0, 845553283),
 (6, 254, 3.0, 845555655),
 (6, 256, 3.0, 845553726),
 (6, 257, 5.0, 845554176),
 (6, 258, 3.0, 845555172),
 (6, 261, 4.0, 845553695),
 (6, 262, 5.0, 845554551),
 (6, 265, 3.0, 845553726),
 (6, 266, 3.0, 845553457),
 (6, 267, 3.0, 845554376),
 (6, 270, 3.0, 845555172),
 (6, 271, 4.0, 845555249),
 (6, 273, 3.0, 845553875),
 (6, 274, 4.0, 845555151),
 (6, 276, 4.0, 845553907),
 (6, 277, 5.0, 845553844),
 (6, 279, 3.0, 845555436),
 (6, 281, 4.0, 845554320),
 (6, 282, 3.0, 845553522),
 (6, 288, 2.0, 845553283),
 (6, 289, 3.0, 845554455),
 (6, 291, 3.0, 845555571),
 (6, 292, 4.0, 845553253),
 (6, 293, 3.0, 845553660),
 (6, 296, 2.0, 845553110),
 (6, 302, 3.0, 845555436),
 (6, 303, 3.0, 845554099),
 (6, 304, 4.0, 845555546),
 (6, 310, 3.0, 845556119),
 (6, 312, 1.0, 845555151),
 (6, 313, 3.0, 845555546),
 (6, 314, 5.0, 845554603),
 (6, 315, 4.0, 845553522),
 (6, 316, 5.0, 845553174),
 (6, 317, 4.0, 845553457),
 (6, 318, 5.0, 845553200),
 (6, 327, 1.0, 845554062),
 (6, 329, 4.0, 845553200),
 (6, 330, 3.0, 845555071),
 (6, 332, 3.0, 845555046),
 (6, 333, 5.0, 845553757),
 (6, 336, 3.0, 845556223),
 (6, 337, 5.0, 845553586),
 (6, 339, 4.0, 845553253),
 (6, 340, 4.0, 845555265),
 (6, 342, 3.0, 845553938),
 (6, 343, 3.0, 845555172),
 (6, 344, 3.0, 845553146),
 (6, 347, 3.0, 845555300),
 (6, 348, 3.0, 845553938),
 (6, 349, 5.0, 845553146),
 (6, 350, 5.0, 845553489),
 (6, 351, 4.0, 845554455),
 (6, 352, 3.0, 845555382),
 (6, 353, 4.0, 845553726),
 (6, 354, 4.0, 845555402),

In [11]:
# Leer la base de datos en el entorno de Python
df_movies= pd.read_sql("SELECT * FROM movies", conex)
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [12]:
df_movies.shape

(9742, 3)

In [13]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [14]:
# Leer la base de datos en el entorno de Python
df_ratings= pd.read_sql("SELECT * FROM ratings", conex)
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [15]:
df_ratings.shape

(100836, 4)

In [60]:
df_ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [61]:
df_movies.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [16]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

# Consultas con SqL

In [17]:
### para verificar las tablas que hay disponibles
cur.execute("SELECT name FROM sqlite_master where type='table' ")
cur.fetchall()

[('ratings',), ('movies',)]

In [18]:
#Total de registros en la tabla ratings
pd.read_sql("select count(*) from ratings", conex)

   count(*)
0    100836

In [44]:
#Total de registros en la tabla movies
pd.read_sql("select count(*) from movies", conex)

   count(*)
0      9742

In [63]:
# Consultar el nombre de las columnas de la tabla "ratings"
column_names_query = "SELECT name FROM PRAGMA_TABLE_INFO('ratings')"
columns_ratings = pd.read_sql(column_names_query, conex)
columns_ratings

        name
0     userId
1    movieId
2     rating
3  timestamp

In [64]:
# Consultar el nombre de las columnas de la tabla "movies"
column_names_query = "SELECT name FROM PRAGMA_TABLE_INFO('movies')"
columns_movies = pd.read_sql(column_names_query, conex)
columns_movies

      name
0  movieId
1    title
2   genres

In [51]:
## Consultar los userld que aparecen más de una vez en la tabla ratings
query = """
SELECT
  userId,
  COUNT(*) AS cantidad
FROM ratings
GROUP BY userId
HAVING COUNT(*) > 1;
"""
df_user_counts = pd.read_sql(query, conex)
df_user_counts

     userId  cantidad
0         1       232
1         2        29
2         3        39
3         4       216
4         5        44
..      ...       ...
605     606      1115
606     607       187
607     608       831
608     609        37
609     610      1302

[610 rows x 2 columns]

In [66]:
# Consultar los movieId que aparecen más de una vez en la tabla movies
query = """
SELECT
  movieId,
  COUNT(*) AS cantidad
FROM movies
GROUP BY movieId
HAVING COUNT(*) > 1;
"""
df_movie_counts = pd.read_sql(query, conex)
df_movie_counts

Empty DataFrame
Columns: [movieId, cantidad]
Index: []

In [68]:
# Consultar registros duplicados en la tabla ratings
query = """
SELECT
    userId,
    movieId,
    rating,
    timestamp,
    COUNT(*) AS num_duplicates
FROM
    ratings
GROUP BY
    userId,
    movieId,
    rating,
    timestamp
HAVING
    COUNT(*) > 1;
"""
duplicate_records = pd.read_sql(query, conex)
duplicate_records

Empty DataFrame
Columns: [userId, movieId, rating, timestamp, num_duplicates]
Index: []

In [42]:
# Consultar registros duplicados en la tabla movies
query = """
SELECT
    movieId,
    title,
    COUNT(*) AS num_duplicates
FROM
    movies
GROUP BY
    movieId,
    title
HAVING
    COUNT(*) > 1;
"""

duplicate_records = pd.read_sql(query, conex)
duplicate_records

Empty DataFrame
Columns: [movieId, title, num_duplicates]
Index: []

In [71]:
# Consultar datos nulos en la tabla ratings
query = """
SELECT *
FROM ratings
WHERE userId IS NULL OR movieId IS NULL OR rating IS NULL OR timestamp IS NULL;
"""
null_records = pd.read_sql(query, conex)
null_records

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [69]:
# Consultar datos nulos
query = """
SELECT *
FROM movies
WHERE title IS NULL OR genres IS NULL;
"""
null_records = pd.read_sql(query, conex)
null_records

Empty DataFrame
Columns: [movieId, title, genres]
Index: []